* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-light-alt: #ECE7E4;
  --color-dark: #1B1A1A;
  --color-dark-alt: #403E3B;
  --color-brown: #645C55;
  --font-family-base: "Poppins", sans-serif;
  --container-width: 1160px;
  --container-padding-x: 15px;
  --transition-duration: 0.3s;
  --section-padding: 100px;
  --header-height: 86px;
}
@media (max-width: 520px) {
  :root {
    --header-height: 60px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-size: clamp(12px, 1.1111111111vw, 16px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-dark-alt);
  overflow-x: hidden;
}

a,
button {
  transition-duration: var(--transition-duration);
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.menu__link {
  position: relative;
  padding: 5px;
  font-size: 15px;
  color: var(--color-dark);
}
.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-dark);
  border-radius: 1px;
  transform: scaleX(0);
  transition: transform 0.3s;
}
@media (hover: hover) {
  .menu__link:hover::after {
    transform: scaleX(1);
  }
}
@media (hover: none) {
  .menu__link:active::after {
    transform: scaleX(1);
  }
}

.mobile-menu--open .mobile-menu__overlay {
  visibility: visible;
  opacity: 1;
}
.mobile-menu--open .mobile-menu__body {
  transform: translateX(0);
}
.mobile-menu__overlay {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  visibility: hidden;
  opacity: 0;
  transition-duration: var(--transition-duration);
}
.mobile-menu__body {
  position: fixed;
  top: var(--header-height);
  right: 0;
  width: 200px;
  height: 100vh;
  padding: 15px;
  z-index: 2;
  background-color: var(--color-light);
  transform: translateX(100%);
  transition-duration: var(--transition-duration);
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 520px) {
  .mobile-menu__list {
    margin-bottom: 5px;
  }
}
.mobile-menu__link {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  color: var(--color-dark);
}
.mobile-menu__button {
  display: none;
}
@media (max-width: 520px) {
  .mobile-menu__button {
    display: block;
  }
}

.logo {
  display: block;
}

.button {
  display: inline-block;
  letter-spacing: 0.4px;
  color: var(--color-light);
  padding: 11px 20px;
  background-color: var(--color-dark);
  border-radius: 14px;
  border: 1px solid transparent;
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    background-color: transparent;
    border-color: currentColor;
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-dark);
    background-color: transparent;
    border-color: currentColor;
  }
}
.button--transparent {
  color: var(--color-dark);
  background-color: transparent;
  border-color: currentColor;
}
@media (hover: hover) {
  .button--transparent:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
    border-color: transparent;
  }
}
@media (hover: none) {
  .button--transparent:active {
    color: var(--color-light);
    background-color: var(--color-dark);
    border-color: transparent;
  }
}

.burger-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 40px;
  height: 30px;
}
@media (max-width: 1023px) {
  .burger-button {
    display: flex;
  }
}
@media (max-width: 520px) {
  .burger-button {
    width: 30px;
    height: 20px;
  }
}
.burger-button span {
  width: 100%;
  height: 4px;
  background-color: var(--color-dark);
  border-radius: 2px;
}
.burger-button span:nth-child(odd) {
  width: 80%;
}

.highlighted {
  font-size: clamp(11px, 0.9722222222vw, 14px);
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-brown);
}

.person {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 768px) {
  .person {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.person__image {
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .person__image {
    width: 70px;
    height: 70px;
  }
}
.person__info {
  text-align: left;
}
.person__name {
  font-size: clamp(14px, 1.1805555556vw, 17px);
  color: var(--color-dark);
}
.person__post {
  font-size: clamp(12px, 0.9722222222vw, 14px);
  line-height: 1;
  color: var(--color-brown);
  margin-top: -3px;
}

.socials {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
}
@media (hover: hover) {
  .socials__link:hover {
    background-color: var(--color-light-alt);
  }
}
@media (hover: none) {
  .socials__link:active {
    background-color: var(--color-light-alt);
  }
}

.subtitle {
  font-size: clamp(25px, 2.7777777778vw, 40px);
  line-height: 1.05;
  color: var(--color-dark);
}
.subtitle--small {
  font-size: clamp(25px, 2.2222222222vw, 32px);
  line-height: 1.2;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-light);
  box-shadow: 11px 11px 25px 0px rgba(9, 7, 37, 0.06);
  height: var(--header-height);
  display: flex;
  align-items: center;
}
@media (max-width: 520px) {
  .header .logo__image {
    width: 200px;
  }
}
.header .menu {
  margin-left: auto;
}
@media (max-width: 1023px) {
  .header .menu {
    display: none;
  }
}
.header__inner {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
}
@media (max-width: 1023px) {
  .header__button {
    margin-left: auto;
  }
}
@media (max-width: 520px) {
  .header__button {
    display: none;
  }
}

.first-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-alt);
  margin-top: var(--header-height);
}
@media (max-width: 768px) {
  .first-screen {
    flex-direction: column;
  }
}
.first-screen__content {
  flex-basis: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .first-screen__content {
    padding: 40px 15px;
  }
}
.first-screen__content-inner {
  max-width: 510px;
}
.first-screen__title {
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .first-screen__title {
    margin-bottom: 0;
  }
}
.first-screen__subtitle {
  font-size: clamp(25px, 4.4444444444vw, 64px);
  line-height: 1.1;
  margin-bottom: 18px;
  color: var(--color-dark);
}
@media (max-width: 1023px) {
  .first-screen__subtitle {
    margin-bottom: 10px;
    line-height: 1;
  }
}
.first-screen__text {
  margin-bottom: 30px;
}
@media (max-width: 1023px) {
  .first-screen__text {
    margin-bottom: 20px;
  }
}
.first-screen__image {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .first-screen__image {
    width: 100%;
    height: 300px;
  }
}

.about {
  padding-block: var(--section-padding);
}
@media (max-width: 1023px) {
  .about {
    padding-block: 30px;
  }
}
.about__inner {
  display: flex;
  justify-content: space-between;
  max-width: 770px;
}
@media (max-width: 768px) {
  .about__inner {
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }
}
@media (max-width: 520px) {
  .about__inner {
    align-items: start;
  }
}
.about__title {
  font-size: clamp(25px, 2.2222222222vw, 32px);
  line-height: 1.2;
}
.about__content {
  max-width: 490px;
}
.about__text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 18px;
}

.image-section {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
}
@media (max-width: 1200px) {
  .image-section {
    min-height: 400px;
  }
}
@media (max-width: 1023px) {
  .image-section {
    min-height: 300px;
  }
}
@media (max-width: 768px) {
  .image-section {
    min-height: 200px;
  }
}
.image-section__content {
  position: absolute;
  top: 50%;
  right: 75px;
  transform: translateY(-50%);
  max-width: 285px;
}
@media (max-width: 1200px) {
  .image-section__content {
    max-width: 180px;
  }
}
@media (max-width: 768px) {
  .image-section__content {
    right: 15px;
  }
}
@media (max-width: 520px) {
  .image-section__content {
    top: 15px;
    transform: translateY(0);
    text-align: right;
  }
}
.image-section--content-left .image-section__content {
  right: 0;
  left: 75px;
}
@media (max-width: 768px) {
  .image-section--content-left .image-section__content {
    left: 15px;
    text-align: left;
  }
}
.image-section__title {
  color: var(--color-dark-alt);
}
.image-section__text {
  color: var(--color-brown);
}

.process {
  padding-block: var(--section-padding);
  text-align: center;
}
@media (max-width: 1023px) {
  .process {
    padding-block: 40px;
  }
}
.process__heading {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  margin-bottom: 47px;
}
@media (max-width: 1023px) {
  .process__heading {
    row-gap: 5px;
    margin-bottom: 30px;
  }
}
.process__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.process__item {
  max-width: 290px;
}
@media (max-width: 768px) {
  .process__item {
    max-width: 250px;
  }
}
.process__item-icon {
  margin-inline: auto;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .process__item-icon {
    margin-bottom: 10px;
  }
}
@media (max-width: 520px) {
  .process__item-icon {
    width: 100px;
  }
}
.process__item-title {
  font-size: clamp(14px, 1.25vw, 18px);
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .process__item-title {
    margin-bottom: 5px;
  }
}
.process__item-text {
  font-size: clamp(12px, 1.0416666667vw, 15px);
  color: var(--color-brown);
}

.clients {
  padding-block: 100px;
  background-color: var(--color-dark-alt);
  color: var(--color-light-alt);
}
@media (max-width: 1023px) {
  .clients {
    padding-block: 40px;
  }
}
.clients__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 768px) {
  .clients__inner {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 20px;
  }
}
.clients__content {
  max-width: 450px;
}
.clients__title {
  color: var(--color-light-alt);
}
.clients__subtitle {
  color: var(--color-light);
  margin-top: -4px;
  margin-bottom: 14px;
}
.clients__text {
  font-size: clamp(12px, 1.0416666667vw, 15px);
  line-height: 1.6;
}
.clients__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;
  padding-right: 180px;
}
@media (max-width: 1023px) {
  .clients__list {
    padding-right: 0;
    gap: 70px;
  }
}
@media (max-width: 520px) {
  .clients__list {
    gap: 60px;
  }
}
.clients__item {
  align-self: center;
}
@media (max-width: 520px) {
  .clients__item-logo {
    width: 100px;
    height: auto;
  }
}

.featured {
  padding-block: 100px;
  background-color: #F7F7F7;
}
@media (max-width: 1023px) {
  .featured {
    padding-block: 60px;
  }
}
@media (max-width: 768px) {
  .featured {
    padding-block: 40px;
  }
}
.featured__inner {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}
@media (max-width: 768px) {
  .featured__inner {
    row-gap: 30px;
  }
}
.featured__heading {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-width: 582px;
}
@media (max-width: 1200px) {
  .featured__heading {
    max-width: 485px;
    row-gap: 10px;
  }
}
.featured__title {
  font-size: clamp(25px, 2.7777777778vw, 40px);
  line-height: 1.05;
  color: var(--color-dark);
}
.featured__text {
  font-size: clamp(16px, 1.6666666667vw, 24px);
  line-height: 1.25;
  color: var(--color-brown);
}
.featured__items {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
@media (max-width: 768px) {
  .featured__items {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.featured__item {
  position: relative;
  max-width: 375px;
  width: 100%;
  min-height: 456px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .featured__item {
    min-height: 360px;
    max-width: 300px;
  }
}
.featured__item-info {
  position: absolute;
  top: -50%;
  left: 40px;
  opacity: 0;
  transition-duration: var(--transition-duration);
}
.featured__item-title {
  font-size: clamp(20px, 1.5972222222vw, 23px);
  line-height: 1.3;
  margin-bottom: -2px;
}
.featured__item-button {
  position: absolute;
  bottom: -50%;
  left: 40px;
  opacity: 0;
}
@media (hover: hover) {
  .featured__item:hover .featured__item-info {
    top: 40px;
    opacity: 1;
  }
  .featured__item:hover .featured__item-button {
    bottom: 40px;
    opacity: 1;
  }
}
@media (hover: none) {
  .featured__item-info {
    top: 40px;
    opacity: 1;
  }
  .featured__item-button {
    bottom: 40px;
    opacity: 1;
  }
}
.featured__button-wrapper {
  text-align: center;
}

.get-in-touch {
  padding-block: 100px;
  background-color: #CEC4BC;
}
@media (max-width: 1023px) {
  .get-in-touch {
    padding-block: 60px;
  }
}
@media (max-width: 520px) {
  .get-in-touch {
    padding-block: 40px;
  }
}
.get-in-touch__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.get-in-touch__heading {
  max-width: 570px;
}
@media (max-width: 1023px) {
  .get-in-touch__heading {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .get-in-touch__heading {
    max-width: 370px;
  }
}
.get-in-touch__subtitle {
  margin-top: -5px;
}
@media (max-width: 520px) {
  .get-in-touch__subtitle {
    margin-top: 0;
  }
}
.get-in-touch__button {
  flex-shrink: 0;
}

.footer {
  padding-block: 60px;
}
@media (max-width: 1023px) {
  .footer {
    padding-block: 40px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-block: 30px;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 520px) {
  .footer__inner {
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .footer__logo {
    margin-bottom: 10px;
  }
  .footer__logo img {
    width: 220px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .footer__logo {
    margin-bottom: 5px;
  }
}
.footer__text {
  font-size: clamp(12px, 0.9722222222vw, 14px);
  line-height: 1.4;
}/*# sourceMappingURL=style.css.map */