:root {
    --color-light: #FFFFFF;
    --color-light-alt: #ECE7E4;
    --color-dark: #1B1A1A;
    --color-dark-alt: #403E3B;
    --color-brown: #645C55;

    --font-family-base: "Poppins", sans-serif;

    --container-width: 1160px;
    --container-padding-x: 15px;

    --transition-duration: 0.3s;

    --section-padding: 100px;

    --header-height: 86px;

    @media (max-width: 520px) {
        --header-height: 60px;    
    }
}

$light: var(--color-light);
$light-alt: var(--color-light-alt);
$dark: var(--color-dark);
$dark-alt: var(--color-dark-alt);
$brown: var(--color-brown);

$font-family-base: var(--font-family-base);

$container-width: var(--container-width);
$container-padding-x: var(--container-padding-x);

$transition-duration: var(--transition-duration);

$section-padding: var(--section-padding);

$header-height: var(--header-height);