.header {
    background-color: $light;
    box-shadow: 11px 11px 25px 0px rgba(9, 7, 37, 0.06);
    padding-block: 22px;

    & .logo__image {
        @include mobile-s {
            width: 200px;
        }
    }

    & .menu {
        margin-left: auto;

        @include tablet {
            display: none;
        }
    }

    &__inner {
        display: flex;
        column-gap: 25px;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        @include tablet {
            margin-left: auto;
        }

        @include mobile-s {
            display: none;
        }
    }
}