.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $light;
    box-shadow: 11px 11px 25px 0px rgba(9, 7, 37, 0.06);
    height: $header-height;
    display: flex;
    align-items: center;

    & .logo__image {
        @include mobile-s {
            width: 200px;
        }
    }

    & .menu {
        margin-left: auto;

        @include tablet {
            display: none;
        }
    }

    &__inner {
        display: flex;
        column-gap: 25px;
        align-items: center;
        justify-content: space-between;
        flex-basis: 100%;
    }

    &__button {
        @include tablet {
            margin-left: auto;
        }

        @include mobile-s {
            display: none;
        }
    }
}