.mobile-menu {

    &--open {
        & .mobile-menu__overlay {
            visibility: visible;
            opacity: 1;
        }
        
        & .mobile-menu__body {
            transform: translateX(0);
        }
    }

    &__overlay {
        position: fixed;
        top: $header-height;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
        visibility: hidden;
        opacity: 0;
        transition-duration: $transition-duration;
    }

    &__body {
        position: fixed;
        top: $header-height;
        right: 0;
        width: 200px;
        height: 100vh;
        padding: 15px;
        z-index: 2;
        background-color: $light;
        transform: translateX(100%);
        transition-duration: $transition-duration;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @include mobile-s {
            margin-bottom: 5px;
        }
    }

    &__link {
        display: inline-block;
        padding: 5px;
        font-size: 15px;
        color: $dark;
    }

    &__button {
        display: none;

        @include mobile-s {
            display: block;
        }
    }
}