.socials {
    display: flex;
    align-items: center;
    margin-bottom: -10px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background-color: transparent;

        @include hover {
            background-color: $light-alt;
        }
    }
}